/* Initial Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom Properties */
:root {
  /* Fonts */
  --font-primary: "Martian Mono", Arial, Helvetica, sans-serif;
  --font-secondary: "Inter", Arial, Helvetica, sans-serif;

  /* Font Sizes*/
  --fs-xs: 0.75rem;
  --fs-s: 0.875rem;
  --fs-m: 1rem;
  --fs-l: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;
  --fs-xxxxl: 3.5rem;
  --fs-xxxxxl: 5.5rem;

  /* Colors */
  --clr-neutral-900: hsl(194, 78%, 11%);
  --clr-neutral-700: hsl(195, 23%, 28%);
  --clr-neutral-200: hsl(17, 12%, 89%);
  --clr-neutral-200-transparent: hsla(17, 12%, 89%, 0.3);
  --clr-neutral-100: hsl(17, 41%, 97%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  --light-salmon-500: hsl(22, 99%, 72%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-50: hsl(23, 100%, 97%);

  --gradient1-salmon: #ff9a60;
  --gradient1-black: #062630;
  --gradient2-light-salmon: #ffe2d1;
  --gradient2-very-light-salmon: #fff5ef;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;
  --spacing-xxxl: 2.5rem;
  --spacing-xxxxl: 3.5rem;
  --spacing-xxxxxl: 5.5rem;
}

/* Base Styles */
body {
  font-family: var(--font-primary);
  background-color: var(--clr-neutral-0);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: var(--fs-xxxxl);
  line-height: 1;
}

h2 {
  font-size: var(--fs-xxxl);
}

h3 {
  font-size: var(--fs-l);
  font-weight: 500;
}

/* Utility Classes */
.section {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 var(--spacing-xxxl);
  margin: 0 auto;
}

.btn {
  border: 3px solid black;
  border-radius: 10px;
  padding: var(--spacing-m) var(--spacing-l);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  text-decoration: none;
  font-weight: 600;
}

/* Header and Hero */
.section--header {
  background-image: linear-gradient(
      90deg,
      var(--clr-neutral-100) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, var(--clr-neutral-100) 1px, transparent 1px);
  background-size: 30px 30px, 30px 30px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site-header {
  width: 100%;
}

.section--hero,
.journey {
  background-image: linear-gradient(
      90deg,
      var(--clr-neutral-100) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, var(--clr-neutral-100) 1px, transparent 1px),
    linear-gradient(135deg, var(--clr-neutral-0) 80%, lightblue 95%);

  background-size: 30px 30px, 30px 30px, cover;
  padding-bottom: var(--spacing-xxxxl);
}

.hero {
  min-height: 95vh;
  display: flex;
  align-items: center;
}

.hero__content {
  flex: 1;
}

.hero__image {
  flex: 1;
  height: 90vh;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.hero__title {
  background-image: linear-gradient(
    107deg,
    var(--gradient1-salmon) -11.37%,
    var(--gradient1-black) 61.84%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 35rem;
  margin-bottom: var(--spacing-xxxl);
}

.hero__description {
  max-width: 35rem;
  margin-bottom: var(--spacing-xxxl);
}

.hero__cta {
  margin-bottom: var(--spacing-m);
  color: black;
  background-color: var(--light-salmon-50);
  max-width: 23rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.rating__image {
  max-width: 10rem;
}

.rating__stars {
  display: flex;
}

/* Feature 1 & Feature 2 */
.feature1,
.feature2 {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
  display: flex;
  align-items: center;
  min-height: 85vh;
}

.feature2 {
  margin-bottom: var(--spacing-xxxxl);
  position: relative;
}

.feature1__content,
.feature1__image,
.feature2__content,
.feature2__image {
  flex: 1;
}

.feature1__content {
  padding-left: var(--spacing-xxxxxl);
}

.feature1__image img,
.feature2__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.feature1__title,
.feature2__title {
  margin-bottom: var(--spacing-xxl);
}

.circle-word {
  position: relative;
  display: inline-block;
  z-index: 0; /* Still works without this line */
}

.circle-word::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 120%;
  top: 0;
  left: -10px;
  background-image: url("./assets/images/pattern-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1; /* Still works without this line */
}

.checklist__list-item {
  display: flex;
  gap: var(--spacing-m);
  line-height: 1.5;
  margin-bottom: var(--spacing-m);
  color: var(--clr-neutral-700);
  max-width: 28rem;
}

.feature1__image,
.feature2__image {
  height: 80vh;
}

.feature2__description {
  max-width: 30rem;
}

.feature2__tech-icons {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Reading Journey */
.journey {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xxxxxl);
  padding-top: var(--spacing-xxxxxl);
  padding-bottom: var(--spacing-xxxxxl);
  margin-bottom: var(--spacing-xxxxxl);
}

.journey__steps {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.journey__step-label {
  display: flex;
  justify-content: space-between;
}

.journey__step:last-child img {
  visibility: hidden;
}

.journey__step-num {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 700;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey__step {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

/* Membership options */
.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xxxxxl);
}

.cards {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.card {
  border: 1px solid var(--clr-neutral-200);
  border-radius: 10px;
  padding: var(--spacing-l);
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--featured {
  border: 1px solid var(--clr-neutral-200);
  border-radius: 10px;
  padding: var(--spacing-xxl) var(--spacing-l);
  width: 18rem;
  background-image: linear-gradient(
    135deg,
    var(--light-salmon-50) 50%,
    lightblue 120%
  );
}

.card__price-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.card__price-num {
  font-size: var(--fs-xxxl);
  font-weight: 600;
}

.card hr,
.card--featured hr,
.site-footer hr {
  border: none;
  height: 0.5px;
  width: 100%;
  background-color: var(--clr-neutral-200);
  margin: var(--spacing-xl) 0;
}

.card__benefits {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-xxl);
}

.card__benefit {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.card__cta {
  background-color: var(--light-salmon-50);
  color: black;
  max-width: 23rem;
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xxl);
  margin-bottom: var(--spacing-xxxxxl);
}

.testimonials__content {
  text-align: center;
  font-size: var(--fs-xxl);
  font-weight: 600;
  line-height: 1.3;
  max-width: 58rem;
}

.testimonials__client {
  color: var(--clr-neutral-700);
}

/* Footer */
.section--footer {
  background-color: var(--gradient1-black);
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xxxl) 0;
}

.site-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer__title,
.site-footer__cta,
.site-footer__copyright {
  color: var(--clr-neutral-0);
}

.site-footer__title {
  max-width: 35rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--spacing-xxl);
}

.site-footer__cta {
  border: 3px solid white;
  margin-bottom: var(--spacing-xxl);
  max-width: 23rem;
}

.rating__member-count--white {
  color: var(--clr-neutral-0);
}

.site-footer__copyright-socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.site-footer__socials {
  display: flex;
  align-items: center;
  gap: var(--fs-m);
}

/* Media Queries */
@media (max-width: 991px) {
  /* Change flex-direction */
  .hero,
  .feature1,
  .feature2,
  .journey,
  .journey__steps,
  .testimonials {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Spacing adjustment */
  .rating,
  .feature1__content,
  .feature2__description {
    margin-bottom: var(--spacing-xxxl);
  }

  /* Hero */
  .hero__title,
  .hero__description {
    max-width: 50rem;
  }

  /* Feature1 */
  .feature1__content {
    order: -1;
    padding-left: 0;
  }

  .checklist__list-item {
    max-width: 40rem;
  }

  .feature2__description {
    max-width: 50rem;
  }

  .feature2__tech-icons {
    display: none;
  }

  /* Reading Journey */
  .journey {
    max-width: 56rem;
    gap: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxxl);
  }

  .journey__steps {
    gap: var(--spacing-l);
  }

  .journey__steps img {
    display: none;
  }

  .journey__step {
    gap: var(--spacing-xs);
  }

  /* Membership */
  .cards {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .card,
  .card--featured {
    width: 48%;
    padding: var(--spacing-l);
  }

  /* Testimonials */
  .testimonials__content {
    text-align: left;
  }

  /* Footer */
  .site-footer__copyright-socials {
    padding-left: var(--spacing-xxxl);
    padding-right: var(--spacing-xxxl);
  }
}

@media (max-width: 767px) {
  .feature1__title {
    max-width: 30rem;
  }

  .journey__title {
    max-width: 28rem;
  }

  .card,
  .card--featured {
    width: 100%;
  }

  .card__cta {
    max-width: none;
  }

  .site-footer__copyright-socials {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
  }
}
